.events__list-item{
    margin: 1rem 0;
    padding-bottom: 10px;
    border-bottom: lightgray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events__list-item h1{
    margin:0;
    font-size: 1rem;
    color: white;
}

.events__list-item h2{
    margin: 0;
    font-size: 1rem;
    color: grey;
}

.events__list-item p{
    margin: 0;
}